div {
    font-family: 'Francois One', sans-serif;
    background-color: rgb(158, 63, 60);
    color: white;
    font-size: 32px;
    padding: 5px;
}

.mainLogo {
    width: 200px;
    position: absolute;
    left: -5px;
    top: -5px;
}

.mainPage {
    width: 1250px;
    height: 200px;
    background-color: transparent;
    position: absolute;
    left: 182px;
    top: 70%;
}

.getStartedButton {
    color: white;
    background-color: rgb(223, 167, 26);
    border-radius: 10px;
    position: absolute;
    left: -90px;
    top: 10%;
    width: 230px;
    height: 50px;
}

.seeMoreButton {
    color: white;
    width: 250px;
    height: 50px;
    background-color: rgb(223, 168, 75);
    position: absolute;
    left: 452px;
    top: 330%;
    border-radius: 10px;
    box-shadow: 0 20px 50px 0 rgba(0, 0, 0, 0.4);
}

.mainHeader {
    font-family: 'Francois One', sans-serif;
    position: absolute;
    left: 80px;
    top: 20%;
    font-size: 120px;
    color: rgb(158, 63, 60)
}

h2 {
    font-family: 'Francois One', sans-serif;
    position: absolute;
    left: 90px;
    top: 50%;
    font-size: 50px;
    color: rgb(158, 63, 60)
}

h3 {

    font-family: 'Francois One', sans-serif;
    position: absolute;
    left: 90px;
    top: 40%;
    font-size: 50px;
    color: rgb(158, 63, 60)
}


.navBar1 {
    background-color: rgb(158, 63, 60);
    padding: 5px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 700px;
    height: 100px;
    right: 50px;
    position: absolute;
    right: 70px;
    top: 60px;
    border-radius: 20px;
    box-shadow: 0 20px 50px 0 rgba(0, 0, 0, 0.4);
}

.medicineImage {
    position: absolute;
    right: 10%;
    top: 30%;
    width: 550px;
}

img {
    width: 60px;
}


.items:hover {
    background-color: rgb(223, 217, 26);
    opacity: 0.5;
}


a {
    width: 20%;
    text-align: center;
    text-decoration: none;
}

.MedContainer {
    position: absolute;
    flex-direction: row;
    width: 110%;
    height: 200%;
    display: flex;
    top: 110%;
    left: -120px;
    background-color: transparent;
}

.Med {
    width: 33%;
    font-size: 30px;
    margin: 15px;
    padding: 25px;
    border-left: 1px solid #592322;
    border-right: 1px solid #592322;
    border-top: 1px solid transparent;
    border-bottom: 1px solid transparent;
    transition: border 500ms;
    border-radius: 25px;
    box-shadow: 0 20px 50px 0 rgba(0, 0, 0, 0.4);
}

/* Allows me to space the text */
.Med p {
    white-space: pre-line;
}

/* Aligns all h4 text in project container */
.Med h4 {
    text-align: center;
}

/* Aligns all p text in project container */
.Med p {
    text-align: center;
}

.cheapHeader {
    position: absolute;
    top: 800%;
    font-size: 60px;
    right: 310px;
    font-family: 'Francois One', sans-serif;
    position: absolute;
    color: #EBEBEB;
}

.partnersHeader {
    position: absolute;
    top: 1140%;
    font-size: 60px;
    left: 180px;
    font-family: 'Francois One', sans-serif;
    position: absolute;
    color: rgb(158, 63, 60);
    text-align: right;
}

.contactContainer {
    background-color: #592322;
    width: 1510px;
    height: 420px;
    position: absolute;
    left: -183px;
    top: 1500%;
}

.backgroundMainPage {
    height: 745px;
    width: 1509px;
    position: absolute;
    left: 0px;
    top: -5px;
    background-color: #EBEBEB;
}

.medicineMainPage {
    height: 575px;
    width: 1509px;
    position: absolute;
    left: 0px;
    top: 100%;
    background-color: #592322;
}

.storyMainPage {
    height: 826px;
    width: 1509px;
    position: absolute;
    left: 0px;
    top: 178%;
    background-color: #EBEBEB;
}

.cheapMainPage {
    height: 745px;
    width: 1509px;
    position: absolute;
    left: 0px;
    top: 289.6%;
    background-color: #592322;
}

.partnersMainPage {
    height: 750px;
    width: 1509px;
    position: absolute;
    left: 0px;
    top: 390%;
    background-color: #EBEBEB;
}

.letsTalkTitle {
    position: absolute;
    font-size: 103px;
    text-align: right;
    font-family: 'Francois One', sans-serif;
    position: absolute;
    color: white;
    width: 600px;
    top: -50px;
    left: -100px;
}

.finalLogo {
    width: 500px;
    position: absolute;
    right: 50px;
    top: 20px;
}

.letsTalkButton {
    font-size: 60px;
    text-align: center;
    left: 133px;
    top: 230px;
    font-family: 'Francois One', sans-serif;
    position: absolute;
    color: white;
    width: 330px;
    height: 90px;
    background-color: black;
    border-radius: 20px;
    box-shadow: 0 20px 50px 0 rgba(0, 0, 0, 0.4);
}


.partnersSubheader {
    position: absolute;
    top: 1200%;
    font-size: 33px;
    text-align: right;
    left: -90px;
    font-family: 'Francois One', sans-serif;
    position: absolute;
    color: rgb(158, 63, 60);
    width: 600px;
}

.cheapContainer {
    position: absolute;
    flex-direction: row;
    width: 110%;
    height: 220%;
    display: flex;
    top: 890%;
    left: -120px;
    background-color: transparent;
}

.cheapClass {
    width: 33%;
    font-size: 30px;
    margin: 15px;
    padding: 25px;
    border-left: 1px solid #592322;
    border-right: 1px solid #592322;
    border-top: 1px solid transparent;
    border-bottom: 1px solid transparent;
    transition: border 500ms;
    border-radius: 25px;
    box-shadow: 0 20px 50px 0 rgba(0, 0, 0, 0.4);
}

/* Allows me to space the text */
.cheapClass p {
    white-space: pre-line;
}

/* Aligns all h4 text in project container */
.cheapClass h4 {
    text-align: center;
}

/* Aligns all p text in project container */
.cheapClass p {
    text-align: center;
}


.square1 {
    border: 2px solid black;
    width: 240px;
    position: absolute;
    top: 1200%;
    right: 450px;
}

.square2 {
    border: 2px solid black;
    width: 240px;
    position: absolute;
    top: 1200%;
    right: 135px;
}

.square3 {
    border: 2px solid black;
    width: 240px;
    position: absolute;
    top: 1350%;
    right: 450px;
}


.storyText {
    font-size: 34.6px;
}

.square4 {
    border: 2px solid black;
    width: 240px;
    position: absolute;
    top: 1350%;
    right: 135px;
}

.doctorImage {
    position: absolute;
    top: 185%;
    width: 550px;
}

.storyHeader {
    position: absolute;
    top: 170%;
    font-size: 130px;
    right: 150px;
    font-family: 'Francois One', sans-serif;
    position: absolute;
    color: rgb(158, 63, 60);
}

.storyContainer {
    position: absolute;
    flex-direction: column;
    width: 40%;
    height: 90%;
    display: flex;
    top: 204%;
    right: 140px;
    color: rgb(158, 63, 60);
    background-color: transparent;
}

.donateButton {
    color: white;
    width: 250px;
    height: 50px;
    background-color: rgb(223, 168, 75);
    position: absolute;
    right: 330px;
    top: 272%;
    border-radius: 10px;
    font-family: 'Francois One', sans-serif;
    font-size: 30px;
    box-shadow: 0 20px 50px 0 rgba(0, 0, 0, 0.4);
}